$bgcolor-primary: #2e86de;
// LogIn
.ResetPasswordSucess {
  width: 38rem;
  background-color: #fff;
  border-radius: 4px;
  padding: 1.6rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & > :not(:first-child) {
    margin-left: 1rem;
  }

  &__title {
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    color: $bgcolor-primary;
    color: #2ecc71;
    display: inline-block;
  }
  &__icon {
    font-size: 3rem;
    color: #2ecc71;
  }
}
