$bgcolor-primary: #2e86de;
// LogIn
.ResetPassword {
  width: 30rem;
  background-color: #fff;
  border-radius: 4px;
  padding: 1.6rem 3rem;

  &__title {
    font-weight: normal;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    color: $bgcolor-primary;
    margin-bottom: 3rem;
    text-align: center;
  }
  // FORM
  &__form {
    position: relative;

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  // INPUT
  &__input {
    background: #ffffff;
    box-shadow: -4px -4px 14px rgba(222, 221, 255, 0.25),
      4px 4px 14px rgba(222, 221, 255, 0.25);
    border-radius: 4px;
    border: none;
    padding: 0.7rem 2rem;
    width: 100%;
    position: relative;

    &:focus {
      outline: none;
    }
  }

  // BUTTON
  &__button {
    width: 100%;
    background: $bgcolor-primary;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 0.7rem 2rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__buttonBack {
    width: auto;
    padding: 0.7rem 1rem;
  }
  &__icon {
    margin-right: 0.6rem;
  }
  &__span {
    font-size: 1.4rem;
    font-weight: bold;
  }
  // ERROR
  &__error {
    color: red;
    // // position: absolute;
    // // bottom: -3rem;
    // top: 91%;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  a{
    text-decoration: none;
  }
}
// KEYFRAME FOR ICONS
@keyframes upDown {
  0% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
